.red-input:focus {
	color: red;
}

input[type=radio]:checked {
	margin-right: 20px;
}

.test-psevdo:after {
	content: 'чо тут не понятно ?';
}

.test-psevdo:before {
	content: '';
	width: 60px;
	height: 60px;
	float: left;
	background: url(files/pict.jpg) no-repeat;
}

.svg {
	width: 10%;
}
