body {
  background: url(files/city.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #050505fd;
}

h1 {
  font-size: 24px;
  line-height: normal;
  color: #0f0911fd;
}

.page-title {
  font-weight: bold;
  font-size: 36px;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.fonts-test {
  text-align: center;
  font-size: 30px;
  color: rgb(15, 12, 12);
}

.fonts-test :nth-child(1) {
  font-weight: bold;
  font-size: 25px;
  /* color: red; при добавлении шрифта слетают картинки, так же наследуется цвет картинки от первой строки в списке */
}

.fonts-test :nth-child(2) {
  font-weight: bold;
  font-size: 25px;
  color: red; 
  font-family: 'Shadows Into Light', cursive;
  list-style-type: circle;
}

.fonts-test :nth-child(3) {
  font-weight: bold;
  color: rgb(229, 255, 0);
  font-family: 'Indie Flower', cursive;
  list-style-type: square;
}

.fonts-test :nth-child(4) {
  font-weight: bold;
  color: rgb(0, 4, 255);
  font-family: 'Pacifico', cursive;
}

.fonts-test :nth-child(3):before {
  content: url("files/icons8.png");
}

.fonts-test .withimg:before {
  content: "\f110"; 
  font-family: "Font Awesome 5 free";
  font-weight:900;
  display: inline-block;
    animation: fa-spin 1s steps(8) infinite;
}

/* .zz {
  font-size: 36px;
}

ul {
  margin-left: 60px;
  font-size: 25px;
}

a {
  font-family: Times, serif; 
  font-size: 25px;
  color: rgb(187, 187, 247); 
}

a:hover {
  color: red;
  border-bottom: 1px solid rgb(23, 158, 63);
}

ul + p {
  color: red;
}

#container > ul {
  border: 1px solid rgb(218, 201, 201);
}

#container ~ p {
  color: rgb(0, 255, 64);
  text-align: center;
  font-size: 28px;
}

a[title] {
  color: rgb(104, 17, 17);
}

a[title="ololo"] {
  color: rgb(17, 104, 17);
}

a[href="page-1.html"] {
  color: rgb(247, 0, 255);
}

a[href^="http"] {
  background: url(files/icons8.png) no-repeat;
  padding-left: 10px;
}

a[data-filetype="image"] {
  color: rgb(194, 236, 3);
}

a[data-info~="external"] {
  color: rgb(204, 0, 255);
}

a[data-info~="image"] {
  border: 1px solid rgb(240, 167, 167);
} 


.kote-container {
  text-align: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#clearfix > ul {
  padding: 20px;
  margin: 20px;
}

.clearfix {
  width: 200px;
  background: #292929;
  color: white;
  list-style: none;
  padding-left: 0;
}

.clearfix li {
  float: left;
  list-style: none;
  margin-left: 3px;
  border: 1px solid red;
  padding: 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid #3c3c3c;
}

.clearfix {
  *display: inline-block;
  _height: 1%;
}

p::first-letter {
  float: absolute;
  font-size: 2em;
  font-weight: bold;
  font-family: cursive;
  padding-right: 2px;
}

ul:nth-of-type(1) {
  border: 3px solid rgb(255, 251, 21);
}

ul li:first-child {
  border-top: none;
}

main p:only-child {
  color: red;
}

ul > li:only-of-type {
  font-weight: bold;
}

.theLast :nth-child(2) {
  font-weight: bold;
  color: red;
}
*/

.help {
  position: relative; 
  left: 1%; 
  bottom: 10%;
  width: 90%; 
  padding: 5px; 
  /* background: #d9e7f3;  */
}

footer {
  margin-top: 30px;
  padding-top: 10px;
  color: #b40606;
  border-top: 1px solid #aaaaaa;
}
