body {
    background:url(files/city2.jpg) no-repeat center center fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: #fffffffd;
}

h1 {
    font-size: 24px;
    line-height: normal;
    color: #ddc5e4fd;
}

.page-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    font-family: "Verdana", sans-serif;
    text-align: center;
}

.zz {
        font-size: 36px;
}

ul {
    margin-left: 60px;
    font-size: 25px;
}

a { 
    font-family: Times, serif; /* Семейство шрифта */
    font-size: 25px;
    color: rgb(187, 187, 247); /* Синий цвет текста */
}

a:hover { 
    color: red; 
    border-bottom: 1px solid rgb(23, 158, 63);
}

ul + p {
    color: red;
   }

   #container > ul {
    border: 1px solid rgb(218, 201, 201);
  }

  #container ~ p {
    color: rgb(0, 255, 64);
    text-align: center;
    font-size: 28px;
   }

   a[title] {
    color: rgb(216, 216, 216);
   }

   a[href="page-1.html"l] {
    color: rgb(0, 255, 64);
   }

   a[href^="http"] {
    background: url(files/icons8.png) no-repeat;
    padding-left: 10px;
   }

   a[data-filetype="image"] {
    color: rgb(194, 236, 3);
   }

   /* Выбираем атрибут data-info со значением "external" */
a[data-info~="external"] {
    color: rgb(204, 0, 255);
   }
    
   /* Выбираем атрибут со значчением "image" */
   a[data-info~="image"] {
   border: 1px solid rgb(240, 167, 167);
   }

.kote-container { 
    text-align: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  #clearfix>ul {
    padding: 20px;
    margin: 20px;
  }

  .clearfix {
    width: 200px;
    background: #292929;
    color: white;
    list-style: none;
    padding-left: 0;
    }

  .clearfix li {
    float: left;
    list-style: none;
    margin-left: 3px;
    border: 1px solid red;
    padding: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid #3c3c3c;
  }
 
  
  .clearfix { 
    *display: inline-block; 
    _height: 1%;
   }

   p::first-letter {
    float: absolute;
    font-size: 2em;
    font-weight: bold;
    font-family: cursive;
    padding-right: 2px;
   }

   ul:nth-of-type(1) {
    border: 3px solid rgb(255, 251, 21);
   }

   ul li:first-child {
    border-top: none;
   }

   main p:only-child {
    color: red;
   }

   ul > li:only-of-type {
    font-weight: bold;
   }

   .theLast :nth-child(2) {
    font-weight: bold;
    color: red;
   }

   .icon {
    width: 60px;
    height: 60px;
    float: left;
    background: url(files/pict.jpg) no-repeat;
  }
  
  .open .icon {
    cursor: pointer;
    width: 60px;
    height: 57px;
    background-position: -140px -30px;
  }
  
  .closed .icon {
    width: 94px;
    height: 32px;
    cursor: pointer;
    background-position: -12px -240px;
  }
  
  .leaf .icon {
    width: 93px;
    height: 43px;
    cursor: text;
    background-position: -810px -228px;
  }

#help {
    position: relative; /* Абсолютное позиционирование */
    left: 1%; /* Положение элемента от левого края */
    /* top: 50px; Положение от верхнего края */
    bottom: 10%;
    width: 90%; /* Ширина блока */
    padding: 5px; /* Поля вокруг текста */
    background: #d9e7f3; /* Цвет фона */ 
}

footer {
    margin-top: 30px;
    padding-top: 10px;
    color: #b40606;
    border-top: 1px solid #aaaaaa;
}
  