doctype html
html(lang='ru')
  head
    title Announcement
    link(rel='stylesheet', href='../../../dist/css/bundle.css')
  body
    .wrapper
      .announcement
        .announcement__title Front-end developer
        .announcement__company
          | Adamant
        .announcement__areas
          .announcement__programs  JavaScript
          .announcement__programs  Illustrator
          .announcement__programs  node.js
          .announcement__programs  less/sass
          .announcement__programs  sketch
          .announcement__programs  OOCSS
        .announcement__description
          | Команда создателей платформы RadiumOne, входящей в пятёрку мировых лидеров
          | по охвату аудитории /рейтинг comScore/, открывает позицию Front-end Developer. Это вёрстка новых компонентов
          | и экранов, совершенствование существующих элементов.
        #footer
          .announcement__category Програмист | Mid
          .announcement__numDate  #79172 | до 26 января 2015
      script(src='../../../dist/js/bundle.js')
